doctype html
html
    head
        title= "Kiosk Admin For LG Uplus"
        meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
        meta(name='keywords', content='lguplus kiosk admin')
        meta(name='description', content="usim kiosk admin")
        meta(name='author', content='rkek9501')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        link(href='favicon.ico', rel='icon')
        block css
    body
        block css
            link(rel='stylesheet', href='/css/styles.css')
        block content
            #app

        block js
            script(src='/js/vendors.js')
            script(src='/js/build.js')
            script(src='/js/moment.js')
            //- script(src='/js/lodash.js')
